<launch>
  <arg name="serialport" default="/dev/ttyUSB1"/>
  <arg name="robot_type" default="create"/>
  <!-- Turtlebot Driver -->
  <node pkg="create_node" type="turtlebot_node.py" name="turtlebot_node" respawn="true" args="--respawnable">
    <param name="robot_type" value="$(arg robot_type)" />
    <param name="has_gyro" value="false" />
    <param name="bonus" value="false" />
    <param name="update_rate" value="10.0" />
    <param name="port" value="$(arg serialport)" />
  </node>
</launch>
